*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background-color: #0082e6;
    width: 100%;
    height:80px;

}

nav {
    display: flex;
}